body{
    background-color: grey;
}
h3 {
  font-weight: bold;
}
p {
  font-size: 1.5em;
  font-style: italic;
  font-family: Lobster;
}
.quotebox {
  
  border: 28px solid whitesmoke;
  width: 30%;
  margin: 30px auto;
  border-radius: 10px;
  height: auto;
  padding: 20px;
}
button {
  margin-top: 50px;
  margin-right:10px;
}


.author {
  font-style: italic;
  font-family: Lobster, sans-serif;
}
i {
  margin-right:5px;
}
@media (max-width:560px){
  .quotebox {
    width: 75%;
  }
}
